<html lang="en">
<%- include("./../partials/head.ejs") %>

<body>
  <%- include("./../partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>

    <% if (about.length > 0) { %>
      <% about.forEach(ab => { %>
        <a class="single" href="/about/<%= ab._id %>">
          <p class="title"><%- ab.body %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no about details to display...</p>
    <% } %>
  </div>

  <%- include("./../partials/footer.ejs") %>
</body>
</html>